# COGS 108 - Final Project

# Overview

*Fill in your overview here*

# Names

- Min Liu
- Yoo Jin Chung
- Qin Li
- Sam Smith
- J. Cole

## Group Members IDs

- A92061065
- A14692760
- A13803098
- A########

# Research Question

*Fill in your research question here*

## Background and Prior Work

*Fill in your background and prior work here* 

References (include links):
- 1)
- 2)

# Hypothesis

*Fill in your hypotheses here*

# Dataset(s)

*Fill in your dataset information here*

(Copy this information for each dataset)
- Dataset Name:
- Link to the dataset:
- Number of observations:

1-2 sentences describing each dataset. 

If you plan to use multiple datasets, add 1-2 sentences about how you plan to combine these datasets.

# Setup

In [1]:
## YOUR CODE HERE
# Display plots directly in the notebook instead of in a new window
%matplotlib inline

# Import libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Data Cleaning

Describe your data cleaning steps here.

In [12]:
## YOUR CODE HERE
pd.read_csv("./household_income/2006.csv")

    Rank     Geographical Area  Median Margin of Error
0    1.0              Maryland  65,144          +/-659
1    2.0            New Jersey  64,470          +/-658
2    3.0           Connecticut  63,422          +/-824
3    4.0                Hawaii  61,160        +/-1,162
4    5.0         Massachusetts  59,963          +/-623
5    6.0         New Hampshire  59,683        +/-1,238
6    7.0                Alaska  59,393        +/-1,442
7    8.0            California  56,645          +/-236
8    9.0              Virginia  56,277          +/-458
9   10.0             Minnesota  54,023          +/-445
10  11.0                Nevada  52,998        +/-1,049
11  12.0              Delaware  52,833        +/-1,415
12  13.0            Washington  52,583          +/-479
13  14.0              Colorado  52,015          +/-491
14  15.0              Illinois  52,006          +/-274
15  16.0  District of Columbia  51,847        +/-1,221
16  17.0          Rhode Island  51,814        +/-1,151
17  18.0              New York  51,384          +/-255
18  19.0                  Utah  51,309          +/-573
19  20.0             Wisconsin  48,772          +/-440
20   NaN         United States  48,451           +/-82
21  21.0               Vermont  47,665        +/-1,270
22  22.0               Wyoming  47,423        +/-1,479
23  23.0               Arizona  47,265          +/-439
24  24.0              Michigan  47,182          +/-318
25  25.0               Georgia  46,832          +/-401
26  26.0          Pennsylvania  46,259          +/-290
27  27.0                Oregon  46,230          +/-503
28  28.0               Florida  45,495          +/-247
29  29.0                Kansas  45,478          +/-506
30  30.0              Nebraska  45,474          +/-579
31  31.0               Indiana  45,394          +/-421
32  32.0                 Texas  44,922          +/-287
33  33.0                  Ohio  44,532          +/-352
34  34.0                  Iowa  44,491          +/-523
35  35.0                 Maine  43,439          +/-773
36  36.0                 Idaho  42,865          +/-877
37  37.0              Missouri  42,841          +/-449
38  38.0          South Dakota  42,791          +/-983
39  39.0        North Carolina  42,625          +/-440
40  40.0          North Dakota  41,919        +/-1,000
41  41.0        South Carolina  41,100          +/-431
42  42.0            New Mexico  40,629          +/-714
43  43.0               Montana  40,627          +/-705
44  44.0             Tennessee  40,315          +/-425
45  45.0              Kentucky  39,372          +/-535
46  46.0             Louisiana  39,337          +/-603
47  47.0               Alabama  38,783          +/-512
48  48.0              Oklahoma  38,770          +/-649
49  49.0              Arkansas  36,599          +/-491
50  50.0         West Virginia  35,059          +/-618
51  51.0           Mississippi  34,473          +/-614
52   NaN                   NaN     NaN             NaN
53   NaN                   NaN     NaN             NaN

# Data Analysis & Results

Include cells that describe the steps in your data analysis.

In [5]:
## YOUR CODE HERE
## FEEL FREE TO ADD MULTIPLE CELLS PER SECTION

# Ethics & Privacy

*Fill in your ethics & privacy discussion here*

# Conclusion & Discussion

*Fill in your discussion information here*