In [1]:
import pandas as pd
#print(data_2014[data_2014['expend'] > 8000])

In [11]:
data_2014 = pd.read_csv('healthcare/healthcare_2014.csv')
data_2014.rename(columns={' expenditure':'expend'}, inplace=True)
data_2014.expend = [x.strip('$') for x in data_2014.expend]
data_2014['expend'] = data_2014['expend'].astype(int)

Index(['state', 'expend'], dtype='object')

In [3]:
data_2013 = pd.read_csv('healthcare/healthcare_2014.csv')
data_2014.rename(columns={' expenditure':'expend'}, inplace=True)
data_2014.expend = [x.strip('$') for x in data_2014.expend]
data_2014['expend'] = data_2014['expend'].astype(int)

                   state  expend
0          United States    8045
2                 Alaska   11064
7            Connecticut    9859
8               Delaware   10254
9   District of Columbia   11944
10               Florida    8076
14              Illinois    8262
15               Indiana    8300
16                  Iowa    8200
18              Kentucky    8004
20                 Maine    9531
21              Maryland    8602
22         Massachusetts   10559
23              Michigan    8055
24             Minnesota    8871
26              Missouri    8107
27               Montana    8221
28              Nebraska    8412
30         New Hampshire    9589
31            New Jersey    8859
33              New York    9778
35          North Dakota    9851
36                  Ohio    8712
38                Oregon    8044
39          Pennsylvania    9258
40          Rhode Island    9551
42          South Dakota    8933
46               Vermont   10190
49         West Virginia    9462
50             Wisconsin    8702
51               Wyoming    8320